.bookshelf-filters {
    display: flex;
    width: 100%;
}

.bookshelf-filters > div {
    width: 100%;
}

@media (min-width: 1200px) {
    .bookshelf {
        zoom: 120%;
    }
}

@media (max-width: 1200px) {
    .bookshelf-filters {
        flex-direction: column;
    }
}