.footer-container {
    bottom: 0;
    width: 100%;
    height: var(--csh-footer-height-normal);
    background-color: var(--csh-footer-color);
    text-align: center;
    align-content: center;
}

.footer-text {
    color: var(--csh-footer-font-color);
    font-size: 18px;
}

.footer-legal-link {
    color: var(--csh-footer-font-color);
    text-decoration: underline;
    font-size: 15px;
}

@media (max-width: 360px) {
    .footer-text {
        font-size: 12px;
    }

    .footer-legal-link {
        font-size: 10px;
    }
}