.navbar-container {
    width: 100%;
    background-color: var(--csh-color-1);
    position: fixed;
    z-index: 50;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.navbar-container .navbar-logo {
    width: 13%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.navbar-container .navbar-logo img {
    width: auto;
    height: 100%;
    object-fit: contain;
    object-position: center;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
}

.navbar-link-container {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    pointer-events: none;
}

.navbar-link {
    font-weight: 600;
    color: var(--csh-font-color-light);
    transition: color 0.3s ease;
    margin: 0 10px;
    pointer-events: auto;
}

.navbar-link:hover {
    color: var(--csh-color-1-light);
}

.navbar-social img {
    transition: filter 0.2s ease;
}

.navbar-social:hover img {
    filter: brightness(4) hue-rotate(180deg);
}

.MuiModalClose-root.navbar-menu-close {
    transition: filter 0.2s ease;
    zoom: 120%;
}

.MuiModalClose-root.navbar-menu-close .MuiSvgIcon-root {
    fill: var(--csh-color-1-light);
}

.MuiModalClose-root.navbar-menu-close:hover {
    background-color: transparent;
    filter: brightness(4) hue-rotate(180deg);
}

.MuiDrawer-root.navbar-menu .MuiDrawer-content {
    background-color: var(--csh-color-1);
}

@media (min-width: 1200px) {
    .navbar-container {
        height: var(--csh-navbar-height-normal);
    }
    .navbar-container .navbar-logo img {
        left: 50%;
    }

    .navbar-link-container {
        position: absolute;
        top: 0;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
    }

    .navbar-social-container {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: right;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        pointer-events: none;
    }

    .navbar-social {
        margin: 0 15px;
        pointer-events: auto;
    }

    .navbar-social img {
        zoom: 120%;
    }

    .navbar-menu-button {
        display: none;
        pointer-events: none;
    }
}

@media (max-width: 1200px) {
    .navbar-no-menu {
        display: none;
    }

    .navbar-container {
        height: var(--csh-navbar-height-big);
    }

    .navbar-container .navbar-logo img {
        left: 100%;
    }

    .navbar-menu-button {
        background-color: transparent;
        position: fixed;
        display: inline-block;
        right: 0;
        margin: calc((var(--csh-navbar-height-big) / 2) - 32px) 15px;
        pointer-events: auto;
        zoom: 160%;
    }

    .navbar-link-container {
        background-color: var(--csh-color-1);
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }

    .navbar-social-container {
        background-color: var(--csh-color-1);
        display: flex;
        padding-bottom: 100px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 35px;
    }

    .navbar-social-container .navbar-social {
        width: 100%;
        flex-direction: row;
    }

    .navbar-social img {
        zoom: 150%;
    }

    .navbar-link {
        margin: 15px 10px;
    }
}
